h1{font-family: 'permanet marker'cursive;
text-align: center;
font-size: 45px;border:5px dotted whitesmoke;
font-family: 'Monoton', cursive;}

body{ background-color:silver;}
h1{color:rgb(150, 24, 150);}
.img{ margin:center;}
li {font-size: 30px;color:rgb(169, 36, 136)}

